body html {
    margin:0;
    padding:0;
}

body {
    background-color: aqua;
}

.container{
    display: flex;
    height: auto;
    border: 2px solid black;
    margin: 0;
    height: 80vh;
    flex-direction: row;
    background-image: url(./images/bg-pattern-desktop.svg);
   
}

.main-left {
   flex: 1 1 auto;
   width: 70%;
}

.main-right {
    text-align: right;
    align-items: flex-end;
    flex: 1 1 auto;
    width: 30%;
}

.hero-img{
   height: 100%;
   width: auto;
}

/* On screens that are 1024px or less, set the background color to blue */
@media screen and (max-width: 1024px) {
    body {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }